@charset "utf-8";
/*main部分start*/
    .mian-slider {
        float: left;
        width: 730px;
        height: 454px;
        position: relative;
        margin: 12px 0 0 220px;
    }

    .mian-slider ul {
        position: absolute;
        bottom: 10px;
        left: 50%;
    }
    .mian-slider li {
        float: left;
        width: 18px;
        height: 18px;
        background-color: #3E3E3E;
        color: #fff;
        margin: 0 2px;
        cursor: pointer;
        border-radius: 9px;
        text-align: center;
        line-height: 18px;
    }

    .mian-slider .current{
        background-color: #B6181F;
    }

    .arrow a {
        position: absolute;
        top: 50%;
        width: 28px;

        height: 62px;
        background-color: rgba(0,0,0,0.3);
        margin-top: -31px;
        text-align: center;
        color: #fff;
        font: 400 22px/62px "simsun";
    }
    .arrow .arrow-left {
        left: 0;
        border-radius: 0 5px 5px 0;
    }
    .arrow a:hover {
    background: rgba(0,0,0,0.7);
}

    .arrow .arrow-right {
        right: 0;
        border-radius: 5px 0 0 5px;
    }
    .main-news {
        float: right;
        height: 466px;
        width: 252px;

    }

    .main-news-top {
        height: 444px;
        width: 250px;
        margin: 12px 0 5px 0;
        border: 1px solid #E4E4E4;
        overflow: hidden;
    }

    .main-news-top-faster {
        height: 163px;
        border: 1px dashed #E8E7E7;
    }

    .main-news-top-faster-title {
        height: 32px;
        line-height: 32px;
        padding: 0 15px;
        border: 1px dotted #E8E7E7;
    }

    .main-news-top-faster-title h3 {
        float: left;
        font: 400 16px/32px "micorsoft yahei";
    }

    .main-news-top-faster-title a {
        float: right;
        font-family: Consolas;
        color: #666;
    }

    .main-news-top-faster-content {
        padding: 5px 0 0 15px;
    }

    .main-news-top-faster-content li {
        line-height: 24px;
    }
    .main-news-top-faster-content span {
        font-weight: 700;
        margin-right: 5px;
    }

    .main-news-top-money ul {
        width: 260px;
    }

    .main-news-top-money li {
        width: 62px;
        height: 70px;
        float: left;
        margin-left: -1px;
        margin-top: -1px;
        border: 1px solid #E8E7E7;
        border-top: 0;
    }

    .main-news-top-money a {
        position: relative;
        display: block;
        width: 62px;
        height: 70px;
        padding-top: 40px;
        text-align: center;
        line-height: 30px;
    }

    .main-news-top-money i {
        position: absolute;
        top: 13px;
        left: 18px;
        width: 25px;
        height: 25px;
        background: url(../img/icon_lifeserv.png) no-repeat;
    }

    .main-news-top-money .main-news-top-money-icon1 {
        background-position: -25px -25px;
    }

    .main-news-top-money .main-news-top-money-icon2 {
    background-position: 0 -50px;
    }

    .main-news-top-money span {

    }

    .show {
        background: url(../img/song.png) no-repeat right top;
    }

    .today {
        padding: 10px 0 20px;
    }

    .today-left {
        float: left;
    }

    .today-left a {
        display: block;
        width: 210px;
        height: 151px;
        margin-left: -4px;
        background: url(../img/night.jpg) no-repeat;
    }

    .today-right {
        width: 1000px;
        float: right;
        overflow: hidden;
        position: relative;
    }

    .today-right ul {
        width: 1200px;
    }
    .today-right li {
        float: left;
        margin-right: 1px;
    }

/*main部分end*/

/*site-nav部分start*/
/*site-nav部分end*/